flask==2.3.3
numpy==1.26.4
Pillow==10.3.0
opencv-python-headless==4.10.0.84
nibabel==5.2.1
tensorflow-cpu==2.16.2
scikit-learn==1.4.2
scipy==1.13.1
scikit-image==0.24.0
giotto-tda==0.6.1
gdown==5.2.0
joblib==1.4.2
