flask==2.3.3
numpy==1.24.3
Pillow==10.0.0
opencv-python-headless==4.8.1.78
nibabel==5.1.0
tensorflow-cpu==2.13.0
scikit-learn==1.3.0
scipy==1.11.1
scikit-image==0.21.0
giotto-tda==0.6.1
gdown==4.7.1
joblib==1.3.2
